<%
@right = @data.select { |key, value| @results[:right].has_key?(key) }
@missed = @data.select { |key, value| not @results[:right].has_key?(key) }
%>

<h3><%=@right.length%> out of <%=@right.length + @missed.length%>:</h3>

<%= render "results_display" %>

<%= link_to 'Try these again', url_for(:action => :improve) %> |
<%= link_to 'Back to ' + @item.name, url_for(:action => :show) %>

<br/>
<br/>
<%= link_to 'Back to menu', :root %>