<h3>Show me what you know:</h3>

<%=form_for(:ans, :url => @post_url, :method => :put) do |fo|%>
  <ol>
    <% first = true %>
    <% @data.keys.each do |key| %>
      <% 
      options = {:autocomplete => 'off'} 
      if first then options[:autofocus] = 'autofocus' end
    %>
      <li value="<%=key%>"><%=fo.text_field key.to_s, options%></li>
      <% first = false %>
    <%end%>
  </ol>
  <%= fo.submit 'I\'m done.', class: "btn" %>
<%end%>

<br/>

<%= link_to 'Back to menu', :root %>
